*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    display: flex;
    justify-content: end;
    font-size: 40px;
}

i {
    margin: 30px;
}

.fa-sun {
    display: none;
}